@model ET.Models.Cinema
@{
    ViewBag.Title = "CinemaDetail";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Cinema Details</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form>
                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label for="CinemaID" class="control-label"></label>
                        <input type="text" value="@ViewBag.CinemaID" readonly name="CinemaID" placeholder="Cinema ID" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="profileURL" class="control-label"></label>
                        <input type="text" value="@ViewBag.CinemaProfile" readonly name="profileURL" placeholder="Profile picture link" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="fullName" class="control-label"></label>
                        <input type="text" value="@ViewBag.CinemaName" readonly name="fullName" placeholder="Full Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="bio" class="control-label"></label>
                        <input type="text" value="@ViewBag.Cinemadescription" readonly name="bio" placeholder="Bio" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="button" value="Go Back" onclick="location.href='@Url.Action("Cinema", "Management")'" class="btn btn-outline-success float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


